$dark-blue: #1976D2;
$blue: #2196F3;
$light-blue: #BBDEFB;
$grey: #B6B6B6;
$light-blue2: #E3F2FD;
$font-family: 'Roboto';

$dark-primary: $dark-blue;
$primary: $blue;
$light-primary: $light-blue;
$light-secondary: $light-blue2;
$divider-color: $grey;

// keep consistent box shadowing
$shadow-1: 2px 1px 1px #B1B1B1;
