// layout.scss controls the general layout of the site. It'll define the shape of the document (header, body, footer)

* {
    font-family: $font-family;
}

.btn {
    border-radius: 0;
}

.glyphicon {
    color: $dark-primary;
}

#root,
.root-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, $dark-primary, $light-primary);
}

.header {
    background-color: transparent;
    width: 100%;
    height: 10%;
}

.footer { 
    width: 100%;
    height: 10%;
}

.outer-content-container {
    width: 100%;
    min-height: 80%;
    background-color: $light-primary;
    overflow: auto;
}

/* The top navbar */
.navbar {
    width: 90%;
    margin: auto;

    img {
        float: left;
        margin-top: 10px;
    }

    .btn-container {
        width: 20%;
        float: right;
        margin: 10px 0 10px 0;

        button {
            display: inline-block;
            width: 35%;
            margin: 5px;
            padding-left: 2px;
            padding-right: 2px;
            text-align: center;
        }
    }

    h1, .btn-container {
        padding: 5px;
        height: 95%;
    }
}

.home-container {
    height: 80%;
    width: 100%;
}

/* The submissions searchbar */
.searchbar-container {
    width: 86%;
    height: 8%;
    display: block;
    margin: auto;
    margin-top: 25px;

    input {
        display: inline-block;

        &.search-input {
            width: 85%;
            height: 100%;
            padding: 14px;
        }

        &.search-submit {
            width: 15%;
            height: 100%;
            padding: 10px;
        }
    }
}

/* Login/Register modal */
.modal-content {
    .modal-header {
        border: 0;
        padding-bottom: 0;
    }

    .modal-body {
        padding-top: 0;

        ul.nav.nav-pills {
            width: 50%;
            margin: auto;
            margin-bottom: 20px;

            li {
                float: none;
                width: 50%;
                text-align: center;
                display: inline-block;
                margin: 0;
            }
        }

        .tab-content {
            .btn-success {
                width: 35%;
                margin: auto;
                display: block;
            }
        }
    }
}

/* Submitting a new post */
.new-post-container {
    width: 86%;
    margin: auto;
    margin-top: 35px;

    h1 {
        color: #FFFFFF;
    }
}