.navbar {
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-radius: 0;

    h1 {
        font-size: 24px;
        color: #FFFFFF;
    }

    .btn-container {
        button {
            background-color: transparent;

            border: 1px solid transparent;
            opacity: 0.75;

            &:hover {
                opacity: 1;
                border-bottom: 1px solid #FFFFFF;
                transition: all 0.5s ease;
            }
        }
    }
}