/* The submissions searchbar */
.searchbar-container {
    input {
        border-color: transparent;
        font-size: 16px;

        &.search-input {
            border-radius: 3px 0 0 3px;
        }

        &.search-submit {
            border-radius: 0 3px 3px 0;
            color: #FFFFFF;
            background-color: $dark-primary;

            &:hover {
                background-color: $primary;
                transition: all 250ms ease;
            }
        }
    }
}