.submission-item {
	a {
		&.post-title {
			font-size: 16px;
			padding: 0px;
			margin: 0px;
			position: relative;
			top: 10px;
			left: 10px;

			display: block;
		}

		&.post-author {
			padding: 0;
			margin: 0;
			position: relative;
			top: 10px;
			left: 10px;
		}
	}

	div {
		&.votes-container {
			float: left;
			padding: 7px;

			span {
				display: block;
				text-align: center;
				font-weight: bold;

				&.glyphicon {
					cursor: pointer;
				}
			}
		}

		&.comments-container {
			float: right;
			padding: 5px;
			margin-right: 5px;
			font-weight: bold;
			cursor: pointer;

			span {
				margin-left: 5px;
			}
		}

		&.post-tags {
			float: right;
			margin-right: 10px;

			div {
				background-color: $dark-primary;
				color: #FFFFFF;
				border-radius: 3px;
				margin-right: 5px;
				padding: 7px;
				display: inline-block;
				cursor: pointer;

				&:hover {
					background-color: $primary;
					transition: all 250ms ease;
				}

				span.glyphicon {
					color: #FFFFFF;
					border-radius: 50%;
					padding: 5px;
					margin-left: 7px;
					border: 2px solid #FFFFFF;
					font-size: 10px;

					&.disabled {
						display: none;
					}

					&:hover {
						background-color: #FFFFFF;
						color: $primary;
						transition: all 250ms ease;
					}

					&:active:after {
						display: none;
					}
				}
			}
		}
	}
}