.inner-content-container {
    width: 86%; 
    background-color: $light-primary;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    overflow: auto;
    height: 90%;
    border-radius: 3px;
}

.submission-item { 
    width: 97.5%;
    height: 65px;
    margin: auto; 
    background-color: #FFFFFF;
    margin-top: 10px;
    border-radius: 3px;

    a {
        padding: 2%;
        font-size: 14px;
    }
}

.submission-link-container {
    // vertical align the submission links
    transform: translateY(-50%);
    position: relative;
    top: 50%; 
    float: left;
}

.submission-link {
    text-align: center;
}